extends base

block content
    .container.mt-5
        form.form
            .form-group
                label(for="email") Email Address
                input#email.form-control(type="email" class="form-control" aria-describedby="emailHelp" placeholder='you@example.com' required)
                //- small.text-muted.form-text(id="emailHelp") We'll never share your email with anyone else.
            .form-group
                label(for="password") Password
                input#password.form-control(type="password"  placeholder='••••••••' required)
            button.btn.btn-secondary Login

